NODE_ENV=

PORT=

DATABASE_URL=

REDIS_URL=
RESEND_API_KEY=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/v1/oauth/google/callback


GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=http://localhost:3000/v1/oauth/github/callback

VOYAGE_API_KEY=